.pc {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 12px;
    margin-left: 500px;
}

.dc {
    text-align: justify;
    width: 75%;
    font-size: 30px;
}

.logo {
    width: 200px;
}

.logo img{
    float: right;
    width: 220px;
    height: 100px;
    top: 50px;
    left: 1690px;
    position: absolute;
}

.logo1 {
    width: 200px;
}

.logo1 img{
    float: right;
    width: 250px;
    height: 150px;
    top: 170px;
    left: 1665px;
    position: absolute;
}

.dk {
    width: 200px;
}

.dk img{
    float: right;
    width: 220px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
}

.qq {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 12px;
    margin-left: 700px;
    font-weight: bolder;
}

.west {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 12px;
    margin-left: 280px; 
}

.westfoto {
    width: 200px;
}

.westfoto img {
    float: right;
    width: 260px;
    height: 360px;
    top: 200px;
    left: 10px;
    position: absolute;
}

.westfotocom {
    width: 200px;
}

.westfotocom img {
    float: right;
    width: 260px;
    height: 200px;
    top: 640px;
    left: 10px;
    position: absolute;
}

.westfotocom1 {
    width: 200px;
}

.westfotocom1 img {
    float: right;
    width: 260px;
    height: 200px;
    top: 580px;
    left: 10px;
    position: absolute;
}

.post {
    width: 200px;
}

.post img {
    float: right;
    width: 260px;
    height: 200px;
    top: 880px;
    left: 10px;
    position: absolute;
}

.post1 {
    width: 200px;
}

.post1 img {
    float: right;
    width: 260px;
    height: 200px;
    top: 830px;
    left: 10px;
    position: absolute;
}

.classwork {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 12px;
    margin-left: 280px;
}

.lga {
    width: 200px;
}

.lga img {
    float: right;
    width: 260px;
    height: 180px;
    top: 1150px;
    left: 10px;
    position: absolute;
}

.lga1 {
    width: 200px;
}

.lga1 img {
    float: right;
    width: 260px;
    height: 240px;
    top: 1100px;
    left: 10px;
    position: absolute;
}

.dk1 {
    width: 200px;
}

.dk1 img{
    float: right;
    width: 270px;
    height: 280px;
    top: 200px;
    left: 10px;
    position: absolute;
}

.qq1 {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 70px;
    margin-left: 700px;
    font-weight: bolder;
}

.classwork1 {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 50px;
    margin-left: 280px;
}

.qq2 {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 40px;
    margin-left: 700px;
    font-weight: bolder;
}

.classwork2 {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 10px;
    margin-left: 280px;
}

.classwork3 {
    text-align: justify;
    width: 80%;
    text-indent:20px;
    margin-top: 60px;
    margin-left: 280px;
}

.topbutton {
    width:40px;
    height:40px;
    border:4px solid #a6ce15;
    background:rgb(139, 110, 187);
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:45px;
    right:50px;
    cursor:pointer;
    color:rgb(0, 0, 0);
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.index444 {
    text-align: center;
    font-weight: bolder;
}